.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-left {
  display: flex;
}

.logo-link {
  text-decoration: none;
}

.nav-logo {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  font-size: 2rem;
  padding: 0 0.375rem;
  height: 3.25rem;
}

.nav-name-title {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  justify-content: center;
}

.nav-logo,
.nav-name,
.nav-title {
  color: #333333;
}

.nav-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.nav-title {
  font-size: 1rem;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: #333333;
  margin-left: 1.25rem;
  padding: 0px 2px;
  transition: box-shadow 0.15s, opacity 0.15s;
  padding-bottom: 3px;
}

.current {
  box-shadow: inset 0 -3px 0 0 rgba(24, 69, 59, 0.75);
}

.link:hover {
  box-shadow: inset 0 -3px 0 0 rgba(24, 69, 59, 0.75);
}

.link:active {
  opacity: 0.5;
}

@media screen and (min-width: 2000px) {
  .link {
    font-size: 1.25rem;
  }
}
